# Configuration file
# Generated on 10/13/25 12:53 AM

###########
# General #
###########

general {
}

#########
# Block #
#########

block {
   oilTeleportPipe=219
   pipeTextureColor=0
   teleportPipe=220
}

########
# Item #
########

item {
}

