
group:general
	#Enable version checking. (WIP)
	enableVersionCheck=false
	#Additional data in F3.
	enableDebugF3=false
	#ID Theme for the icons GUI.
	iconTheme=default_theme
	#Switch for the dark theme.
	darkTheme=false

group:modules
	#Enable ShowBlock module. (a.k.a. Waila)
	enableShowBlock=false
	#Enable ArmorStatusHUD module.
	enableArmorStatusHUD=false
	#Enable in game tooltip module.
	enableInGameToolTip=false

group:hud_preferences
	#Use modern style for ShowBlock.
	showBlockModernStyle=false
	#Modes for ArmorStatusHUD. 
	# 0 - Bottom Right 
	# 1 - Bottom Left 
	# 2 - Top Right 
	# 3 - Top Left
	armorStatusHUDmode=0
	#Transparency mode for ShowBlock.
	transparency=false
	#X coordinate on the display by factor value.
	factorX=15
	#Y coordinate on the display by factor value.
	factorY=15
	#Anchor type.
	factorAnchor=0
	#Amount of ticks before Tool-Tip dissapearing.
	tickToolTip=200

#RGB Values for gradient of ShowBlock. (if modern style is turned off)
group:rgbShowBlock
	#First Gradient Colour.
	showBlockG1=-16777216
	#Second Gradient Colour.
	showBlockG2=-16777216
	#Text Colour.
	showBlockT=16777215
