#Config file for Beta Tweaks

#Clientside Settings
draggingShortcuts=true
logoStyle=1
mainmenuPanorama=false
mainmenuQuitButton=true
serverList=false
improvedChat=false
improvedChatFontScale=1.0
improvedChatWidthPercentage=0.5
improvedChatIngameHeightOffset=0
improvedChatHorizontalGap=2
improvedChatIngameHeightPercentage=0.5
improvedChatMaxScrollableMessages=100
improvedChatIndicator=0
improvedChatInvisibleToggleButton=true
scrollableControls=true
ingameTexurePackButton=false
hideAchievementNotifications=true
disableEntityRendererOverride=true
fovSlider=false
fov=70.0
indevStorageBlocks=false
hideLongGrass=true
hideDeadBush=true
customFullscreenRes=
showAllResolutionsInConsole=false

#Singleplayer Only Settings
punchSheepForWool=true
ladderGaps=true
lightTNTwithFist=true
hoeGrassForSeeds=true
minecartBoosters=true
boatElevators=true
