# Configuration file
# Generated on 12/04/25 12:48

###########
# General #
###########

general {
}

#########
# Block #
#########

block {
   ENERGY_LINK=129
}

########
# Item #
########

item {
}

