# Configuration file
# Generated on 10/13/25 12:53 AM

###########
# General #
###########

general {
   100 Wrench Rate=false
}

#########
# Block #
#########

block {
   blockAdvMachine=199
}

########
# Item #
########

item {
}

