# Configuration file
# Generated on 10/13/25 12:53 AM

###########
# General #
###########

general {
   englishNames=false
}

#########
# Block #
#########

block {
}

########
# Item #
########

item {
}

