# Configuration file
# Generated on 10/13/25 12:53 AM

###########
# General #
###########

general {
   # Set to false to disable animation of harvester, rancher, conveyor, etc. This may be required if using certain mods that affect rendering.
   AnimateBlockFaces=true
   # Configures how large the collection radius by pulsing is. Radius 0: 1x1 Radius 1: 3x3, Radius 2: 5x5 and so on. Min 0 - Max. 7
   Collector.Radius=2
   # Set to false to disable the custom foods getting availible
   CustomFoods=false
   # Set to false to disable custom foods from Animals, only works if CustomFoods is enabled.
   CustomFoodsFromAnimals=false
   # Configures how big the Radius of the Harvester is. Radius 0: 1x1 Radius 1: 3x3 and so on. Min 0 - Max. 5
   Harvester.Radius=1
   # Set to false to disable machines placing items into chests adjacent to them
   MachinesCanDropInChests=true
   # Configures how big the Radius of the Planter is. Radius 0: only the block above Planter, Radius 1: 3x3 and so on. Min. 0 - Max. 5
   Planter.Radius=1
   # Set to false to disable all Block sounds when working.
   PlaySounds=true
   # Configures how big the Radius of the Rancher is. Radius 0: 1x1 Radius 1: 3x3, Radius 2: 5x5 and so on. Min 0 - Max. 7
   Rancher.Radius=2
   # If false, the rancher will never injure animals. Intended for those who want to play in a (pseudo-)creative style.
   RancherInjuresAnimals=true
   # How far upward to search for members of "stacking" blocks, like cactus and sugarcane
   SearchDistance.StackingBlockMaxVertical=3
   # When searching for parts of a tree, how far out to the sides (radius) to search
   SearchDistance.TreeMaxHoriztonal=5
   # When searching for parts of a tree, how far up to search
   SearchDistance.TreeMaxVertical=15
   # Configures how big the Radius of the Veterinary Station is. Radius 0: 1x1 Radius 1: 3x3, Radius 2: 5x5 and so on. Min 0 - Max. 7
   VeterinaryStation.Radius=2
}

#########
# Block #
#########

block {
   ID.CargoRailDropoffBlock=31997
   ID.CargoRailPickupBlock=131
   ID.ConveyorBlock=125
   ID.MachineBlock=31999
   ID.PassengerRailDropoffBlock=130
   ID.PassengerRailPickupBlock=31998
}

########
# Item #
########

item {
   ID.BeefCooked=993
   ID.BeefRaw=992
   ID.ChickenCooked=991
   ID.ChickenRaw=990
   ID.Hammer=988
   ID.SteelIngot=124
}

