#WiringID (int:117,>=0.0,<=1023.0)
#RPPartsID (int:1005,>=0.0,<=31000.0)
#IronHandsawID (int:1013,>=0.0,<=31000.0)
#DiamondHandsawID (int:1014,>=0.0,<=31000.0)
#AlternateRecipe (boolean:false)
#
#Mon Oct 13 00:53:48 EEST 2025
AlternateRecipe=false
IronHandsawID=1013
WiringID=117
RPPartsID=1005
DiamondHandsawID=1014
