#idGuiEnchanter (int:80)
#idGuiTreasureChest (int:81)
#idGuiFreezer (int:82)
#idGuiLore (int:83)
#idGuiIncubator (int:84)
#idEntityFloatingBlock (int:80)
#idEntityMimic (int:81)
#idEntityZephyr (int:85)
#idEntitySheepuff (int:86)
#idEntityAechorPlant (int:88)
#idEntitySentry (int:89)
#idEntityZephyrSnowball (int:100)
#idEntityCloudParachute (int:101)
#idEntityDartEnchanted (int:102)
#idEntityDartGolden (int:103)
#idEntityDartPoison (int:104)
#idEntityAetherLightning (int:105)
#idEntityLightningKnife (int:106)
#idEntityNotchWave (int:107)
#idEntityFlamingArrow (int:108)
#idEntityMiniCloud (int:109)
#idEntityFiroBall (int:110)
#idEntityPoisonNeedle (int:111)
#idEntitySlider (int:112)
#idEntityPhyg (int:113)
#idEntityFlyingCow (int:114)
#idEntityMoa (int:115)
#idEntityAerBunny (int:116)
#idEntityHomeShot (int:117)
#idEntityValkyrie (int:118)
#idEntityWhirlwind (int:119)
#idEntityCockatrice (int:120)
#idEntitySwet (int:121)
#idEntityFireMonster (int:122)
#idEntityFireMinion (int:123)
#
#Thu Aug 04 00:57:26 BST 2022
idEntityFireMinion=123
idEntityAetherLightning=105
idEntityValkyrie=118
idEntityCloudParachute=101
idEntityDartEnchanted=102
idEntityFloatingBlock=80
idEntityFiroBall=110
idEntityZephyr=85
idGuiTreasureChest=81
idGuiIncubator=84
idEntityFireMonster=122
idEntityMiniCloud=109
idEntityLightningKnife=106
idEntityAechorPlant=88
idGuiLore=83
idEntityWhirlwind=119
idEntityDartGolden=103
idEntityFlamingArrow=108
idEntitySentry=89
utilizeUnstablePackets=false
idEntityHomeShot=117
idGuiFreezer=82
idEntityPoisonNeedle=111
idEntitySwet=121
idEntityFlyingCow=114
idEntityZephyrSnowball=100
idEntityAerBunny=116
idEntityNotchWave=107
idEntityPhyg=113
idEntitySlider=112
idEntityCockatrice=120
idGuiEnchanter=80
idEntitySheepuff=86
idEntityMoa=115
idEntityDartPoison=104
idEntityMimic=81
