#idBlockPortal (int:132)
#idBlockLog (int:133)
#idBlockLeaves (int:134)
#idBlockFirefly (int:130)
#idBlockCicada (int:131)
#idBlockMazestone (int:135)
#idBlockHedge (int:136)
#idStoneBrick (int:140)
#idBlockLichSpawner (int:141)
#idBlockBossSpawner (int:137)
#idItemLiveRoot (int:7716)
#idItemNagaScale (int:7701)
#idItemIronwoodRaw (int:7717)
#idItemPlateNaga (int:7702)
#idItemLegsNaga (int:7703)
#idItemIronwoodIngot (int:7718)
#idItemIronwoodHelm (int:7719)
#idItemIronwoodPlate (int:7720)
#idItemIronwoodLegs (int:7721)
#idItemIronwoodBoots (int:7722)
#idItemIronwoodSword (int:7723)
#idItemIronwoodShovel (int:7724)
#idItemIronwoodPick (int:7725)
#idItemIronwoodAxe (int:7726)
#idItemIronwoodHoe (int:7727)
#idItemScepterTwilight (int:7729)
#idItemScepterLifeDrain (int:7730)
#idItemScepterZombie (int:7731)
#idRecordRadience (int:7732)
#idRecordSteps (int:7733)
#idRecordSuperstitious (int:7734)
#idEntityBoar (int:40)
#idEntityBighorn (int:41)
#idEntityDeer (int:42)
#idEntityNaga (int:115)
#idEntityTinyBird (int:117)
#idEntityLich (int:118)
#idEntityLihlMinion (int:119)
#idEntityLoyalZombie (int:120)
#idEntityNagaSegment (int:121)
#idEntityHostileWolf (int:122)
#idEntityHedgeSpider (int:123)
#idEntitySwarmSpider (int:124)
#
#Mon Oct 13 00:53:47 EEST 2025
idBlockLichSpawner=141
idItemScepterLifeDrain=7730
idItemNagaScale=7701
idItemLegsNaga=7703
idStoneBrick=140
idEntityLich=118
idItemIronwoodPlate=7720
idItemIronwoodLegs=7721
idItemIronwoodShovel=7724
idEntityNagaSegment=121
idBlockFirefly=130
idEntityLoyalZombie=120
idItemScepterZombie=7731
idBlockMazestone=135
generateSupplyChest=false
idEntityHedgeSpider=123
idItemIronwoodBoots=7722
idRecordSteps=7733
idEntityLihlMinion=119
idBlockPortal=132
idEntitySwarmSpider=124
idEntityDeer=42
idBlockLeaves=134
idBlockBossSpawner=137
idItemIronwoodAxe=7726
idBlockCicada=131
idBlockHedge=136
idRecordRadience=7732
idEntityTinyBird=117
idEntityNaga=115
idItemIronwoodIngot=7718
idItemPlateNaga=7702
idItemIronwoodHoe=7727
idItemIronwoodPick=7725
idEntityBighorn=41
idItemScepterTwilight=7729
idBlockLog=133
idRecordSuperstitious=7734
idEntityBoar=40
idItemIronwoodSword=7723
idItemLiveRoot=7716
idItemIronwoodRaw=7717
idEntityHostileWolf=122
idItemIronwoodHelm=7719
