#Skin URL (java.lang.String:http://resourceproxy.pymcl.net/skinapi.php?user=) -- If a skin API went down, you can easily replace it with another one.
#Append ".png" in skin (boolean:true) -- Defines whether or not should the mod add ".png" after username in skin API request. Some APIs work in both ways.
#Cape URL (java.lang.String:http://resourceproxy.pymcl.net/capeapi.php?user=) -- If a cape API went down, you can easily replace it with another one.
#Append username in cape (boolean:true) -- Defines whether or not should the mod add username after cape url. If it's set to false, you can put custom cape image URL in "Cape URL" property and everyone will have it.
#Append ".png" in cape (boolean:true) -- Defines whether or not should the mod add ".png" after username in cape API request. Some APIs work in both ways.
#
#Mon Aug 18 16:28:20 BST 2025
Append\ ".png"\ in\ skin=true
Append\ username\ in\ cape=true
Append\ ".png"\ in\ cape=true
Skin\ URL=http\://resourceproxy.pymcl.net/skinapi.php?user\=
Cape\ URL=http\://resourceproxy.pymcl.net/capeapi.php?user\=
