#raritySwet (int:8)
#rarityAechorPlant (int:8)
#rarityCockatrice (int:3)
#rarityAerwhale (int:8)
#rarityZephyr (int:5)
#raritySheepuff (int:10)
#rarityPhyg (int:12)
#rarityMoa (int:10)
#rarityFlyingCow (int:10)
#rarityWhirlwind (int:8)
#rarityAerbunny (int:11)
#worldMenu (boolean:true)
#aetherMenu (boolean:true)
#TMIhidden (boolean:true)
#idBlockAetherPortal (int:165)
#idBlockAetherDirt (int:166)
#idBlockAetherGrass (int:167)
#idBlockQuicksoil (int:168)
#idBlockHolystone (int:169)
#idBlockIcestone (int:170)
#idBlockAercloud (int:171)
#idBlockAerogel (int:172)
#idBlockEnchanter (int:173)
#idBlockIncubator (int:174)
#idBlockLog (int:175)
#idBlockPlank (int:176)
#idBlockSkyrootLeaves (int:177)
#idBlockGoldenOakLeaves (int:178)
#idBlockSkyrootSapling (int:179)
#idBlockGoldenOakSapling (int:180)
#idBlockAmbrosiumOre (int:181)
#idBlockAmbrosiumTorch (int:182)
#idBlockZaniteOre (int:183)
#idBlockGravititeOre (int:184)
#idBlockEnchantedGravitite (int:185)
#idBlockTrap (int:186)
#idBlockChestMimic (int:187)
#idBlockTreasureChest (int:188)
#idBlockDungeonStone (int:189)
#idBlockLightDungeonStone (int:190)
#idBlockLockedDungeonStone (int:191)
#idBlockLockedLightDungeonStone (int:192)
#idBlockPillar (int:193)
#idBlockZanite (int:194)
#idBlockQuicksoilGlass (int:195)
#idBlockFreezer (int:196)
#idBlockWhiteFlower (int:197)
#idBlockPurpleFlower (int:198)
#idBlockAetherBed (int:199)
#idItemVictoryMedal (int:17000)
#idItemKey (int:17001)
#idItemLoreBook (int:17002)
#idItemMoaEgg (int:17003)
#idItemBlueMusicDisk (int:17004)
#idItemGoldenAmber (int:17005)
#idItemAechorPetal (int:17006)
#idItemStick (int:17007)
#idItemDart (int:17008)
#idItemDartShooter (int:17009)
#idItemAmbrosiumShard (int:17010)
#idItemZanite (int:17011)
#idItemBucket (int:17012)
#idItemPickSkyroot (int:17013)
#idItemPickHolystone (int:17014)
#idItemPickZanite (int:17015)
#idItemPickGravitite (int:17016)
#idItemShovelSkyroot (int:17017)
#idItemShovelHolystone (int:17018)
#idItemShovelZanite (int:17019)
#idItemShovelGravitite (int:17020)
#idItemAxeSkyroot (int:17021)
#idItemAxeHolystone (int:17022)
#idItemAxeZanite (int:17023)
#idItemAxeGravitite (int:17024)
#idItemSwordSkyroot (int:17025)
#idItemSwordHolystone (int:17026)
#idItemSwordZanite (int:17027)
#idItemSwordGravitite (int:17028)
#idItemIronBubble (int:17029)
#idItemPigSlayer (int:17030)
#idItemVampireBlade (int:17031)
#idItemNatureStaff (int:17032)
#idItemSwordFire (int:17033)
#idItemSwordHoly (int:17034)
#idItemSwordLightning (int:17035)
#idItemLightningKnife (int:17036)
#idItemGummieSwet (int:17037)
#idItemHammerNotch (int:17038)
#idItemPhoenixBow (int:17039)
#idItemCloudParachute (int:17040)
#idItemCloudParachuteGold (int:17041)
#idItemCloudStaff (int:17042)
#idItemLifeShard (int:17043)
#idItemGoldenFeather (int:17044)
#idItemLance (int:17045)
#idItemIronRing (int:17046)
#idItemGoldRing (int:17047)
#idItemZaniteRing (int:17048)
#idItemIronPendant (int:17049)
#idItemGoldPendant (int:17050)
#idItemZanitePendant (int:17051)
#idItemRepShield (int:17052)
#idItemAetherCape (int:17053)
#idItemLeatherGlove (int:17054)
#idItemIronGlove (int:17055)
#idItemGoldGlove (int:17056)
#idItemDiamondGlove (int:17057)
#idItemZaniteGlove (int:17058)
#idItemZaniteHelmet (int:17059)
#idItemZaniteChestplate (int:17060)
#idItemZaniteLeggings (int:17061)
#idItemZaniteBoots (int:17062)
#idItemGravititeGlove (int:17063)
#idItemGravititeHelmet (int:17064)
#idItemGravititeBodyplate (int:17065)
#idItemGravititePlatelegs (int:17066)
#idItemGravititeBoots (int:17067)
#idItemPhoenixGlove (int:17068)
#idItemPhoenixHelm (int:17069)
#idItemPhoenixBody (int:17070)
#idItemPhoenixLegs (int:17071)
#idItemPhoenixBoots (int:17072)
#idItemObsidianGlove (int:17073)
#idItemObsidianBody (int:17074)
#idItemObsidianHelm (int:17075)
#idItemObsidianLegs (int:17076)
#idItemObsidianBoots (int:17077)
#idItemNeptuneGlove (int:17078)
#idItemNeptuneHelmet (int:17079)
#idItemNeptuneChestplate (int:17080)
#idItemNeptuneLeggings (int:17081)
#idItemNeptuneBoots (int:17082)
#idItemRegenerationStone (int:17083)
#idItemInvisibilityCloak (int:17084)
#idItemAgilityCape (int:17085)
#idItemWhiteCape (int:17086)
#idItemRedCape (int:17087)
#idItemYellowCape (int:17088)
#idItemBlueCape (int:17089)
#idItemPickValkyrie (int:17090)
#idItemAxeValkyrie (int:17091)
#idItemShovelValkyrie (int:17092)
#idItemHealingStone (int:17093)
#idItemIceRing (int:17094)
#idItemIcePendant (int:17095)
#
#Mon Oct 13 00:53:48 EEST 2025
idItemKey=17001
idItemObsidianHelm=17075
idItemShovelSkyroot=17017
aetherMenu=true
idItemPhoenixGlove=17068
idItemHammerNotch=17038
idItemGravititeGlove=17063
idItemIceRing=17094
idBlockAetherBed=199
idItemGoldGlove=17056
rarityAerwhale=8
idItemZaniteHelmet=17059
idItemGoldenFeather=17044
idItemGravititeHelmet=17064
idBlockPurpleFlower=198
idBlockWhiteFlower=197
idItemNeptuneGlove=17078
idBlockPlank=176
idItemGravititeBodyplate=17065
idItemRepShield=17052
idItemObsidianBoots=17077
idItemIronGlove=17055
raritySheepuff=10
idBlockFreezer=196
idItemLightningKnife=17036
idBlockAerogel=172
idItemMoaEgg=17003
idItemZaniteGlove=17058
idItemAxeSkyroot=17021
idItemIronRing=17046
idItemPickHolystone=17014
idItemIronPendant=17049
idItemPhoenixBoots=17072
idBlockEnchanter=173
idItemGravititeBoots=17067
idBlockGravititeOre=184
idBlockLockedLightDungeonStone=192
idItemObsidianBody=17074
rarityCockatrice=3
idItemSwordHolystone=17026
idItemPickSkyroot=17013
idItemAxeValkyrie=17091
idBlockLockedDungeonStone=191
worldMenu=true
idItemObsidianLegs=17076
idItemShovelHolystone=17018
idBlockChestMimic=187
idItemRedCape=17087
idBlockPillar=193
idItemNeptuneBoots=17082
idBlockIcestone=170
idBlockQuicksoil=168
idItemAechorPetal=17006
idBlockAetherPortal=165
idItemZaniteChestplate=17060
idItemAxeHolystone=17022
TMIhidden=true
rarityZephyr=5
idItemAetherCape=17053
idBlockLog=175
idItemZaniteBoots=17062
idItemPigSlayer=17030
idItemInvisibilityCloak=17084
idItemGoldenAmber=17005
idItemYellowCape=17088
idBlockQuicksoilGlass=195
idItemShovelValkyrie=17092
idItemIronBubble=17029
idBlockAercloud=171
idItemDart=17008
idItemLeatherGlove=17054
idBlockAmbrosiumOre=181
idBlockDungeonStone=189
raritySwet=8
idItemSwordSkyroot=17025
idItemShovelZanite=17019
idItemLifeShard=17043
idItemPhoenixBow=17039
idItemHealingStone=17093
idItemStick=17007
idItemCloudParachuteGold=17041
idItemZaniteRing=17048
idItemAmbrosiumShard=17010
idItemRegenerationStone=17083
idItemDiamondGlove=17057
idItemZaniteLeggings=17061
idItemVictoryMedal=17000
idBlockAetherGrass=167
idBlockGoldenOakLeaves=178
idBlockZanite=194
idItemZanitePendant=17051
idBlockEnchantedGravitite=185
idItemPhoenixHelm=17069
idItemVampireBlade=17031
idItemPickGravitite=17016
idItemNatureStaff=17032
idItemSwordGravitite=17028
idItemSwordZanite=17027
idItemCloudParachute=17040
idItemShovelGravitite=17020
idBlockAmbrosiumTorch=182
idItemGravititePlatelegs=17066
idBlockZaniteOre=183
idItemGummieSwet=17037
idItemWhiteCape=17086
idItemGoldPendant=17050
idItemGoldRing=17047
idItemDartShooter=17009
idBlockGoldenOakSapling=180
idBlockAetherDirt=166
idBlockLightDungeonStone=190
idItemNeptuneHelmet=17079
idItemAxeZanite=17023
idBlockHolystone=169
idItemAxeGravitite=17024
idItemNeptuneLeggings=17081
idItemSwordHoly=17034
rarityWhirlwind=8
idItemNeptuneChestplate=17080
idItemLoreBook=17002
idItemPickZanite=17015
idItemPhoenixBody=17070
idItemBlueMusicDisk=17004
idBlockSkyrootSapling=179
idItemAgilityCape=17085
rarityAechorPlant=8
rarityMoa=10
idItemPhoenixLegs=17071
idItemLance=17045
idItemBucket=17012
idBlockTrap=186
idBlockSkyrootLeaves=177
idItemIcePendant=17095
rarityPhyg=12
idItemZanite=17011
idBlockIncubator=174
idItemObsidianGlove=17073
idItemPickValkyrie=17090
rarityFlyingCow=10
idItemSwordFire=17033
idItemCloudStaff=17042
idItemBlueCape=17089
idBlockTreasureChest=188
idItemSwordLightning=17035
rarityAerbunny=11
