#additionalTerrainTextures (int:1048576,<=2147483647.0) -- This property changes how many new terrain texture IDs this mod adds. Do not make it too big. Each increment adds 1 byte of RAM usage. 1048576 additional textures = 1 MB of RAM used by this mod. Ideally, find the exact number that you need.
#additionalItemTextures (int:1048576,<=2147483647.0) -- This property changes how many new item texture IDs this mod adds. Do not make it too big. Each increment adds 1 byte of RAM usage. 1048576 additional textures = 1 MB of RAM used by this mod. Ideally, find the exact number that you need.
#
#Mon Oct 13 00:53:47 EEST 2025
additionalTerrainTextures=1048576
additionalItemTextures=1048576
