#LogicID (int:116,>=0.0,<=1023.0)
#IRPartsID (int:1004,>=0.0,<=31000.0)
#ScrewdriverID (int:1006,>=0.0,<=31000.0)
#EnableSounds (boolean:true)
#
#Mon Oct 13 00:53:48 EEST 2025
LogicID=116
IRPartsID=1004
ScrewdriverID=1006
EnableSounds=true
