#defaultModInfoPath (java.lang.String:/config/Mod Menu/) -- Folder with all .modinfos
#defaultName (java.lang.String:Mod) -- Default name of a mod
#defaultDescription (java.lang.String:A Minecraft modification) -- Default description of a mod
#defaultVersion (java.lang.String:Unknown version) -- Default version of a mod
#defaultIconPath (java.lang.String:/gui/mods/) -- Default icon folder inside minecraft.jar for mods
#defaultIcon (java.lang.String:/gui/background.png) -- Default icon of a mod
#defaultMLDescription (java.lang.String:A ModLoader mod) -- Default description of a ModLoader mod
#defaultMLIconPath (java.lang.String:/gui/mods/) -- Default icon folder inside minecraft.jar for ModLoader mods
#defaultMLIcon (java.lang.String:/gui/background.png) -- Default icon of a ModLoader mod
#
#Mon Oct 13 00:53:48 EEST 2025
defaultMLIcon=/gui/background.png
defaultMLIconPath=/gui/mods/
defaultMLName=ModLoader mod
defaultIcon=/gui/background.png
defaultMLDescription=A ModLoader mod
defaultDescription=A Minecraft modification
defaultIconPath=/gui/mods/
defaultModInfoPath=/config/Mod Menu/
defaultName=Mod
defaultVersion=Unknown version
