#blockIDCraftingTableII (int:235)
#guiIDCraftingTableII (int:127)
#shouldShowDescriptions (boolean:true)
#
#Mon Oct 13 00:53:47 EEST 2025
shouldShowDescriptions=true
guiIDCraftingTableII=127
blockIDCraftingTableII=235
