#portalblockID (int:104)
#portalcubeID (int:105)
#portalgridID (int:106)
#portalafpID (int:112)
#portalrecordID (int:2013)
#portalrecord2ID (int:2012)
#portal2recordID (int:2011)
#portalbaseitemsID (int:13210)
#
#Mon Oct 13 00:53:48 EEST 2025
portalheptID=107
portalhepcID=108
portalafpID=112
portalcubeID=105
portal2recordID=2011
portalrecord2ID=2012
portalrecordID=2013
portalbaseitemsID=13210
portalgridID=106
portalblockID=104
