#
#Mon Oct 13 00:53:48 EEST 2025
GoldenPaxelID=7684
HolystonePaxelID=7687
WoodedPaxelID=7681
ValkyriePaxelID=7690
IronPaxelID=7683
ZanitePaxelID=7688
StonePaxelID=7682
DiamondPaxelID=7685
SkyrootPaxelID=7686
GravititePaxelID=7689
