#ModLoader Config
#Mon Oct 13 00:53:48 EEST 2025
mod_ClayMan=on
mod_InfSprites=on
mod_TeleportPipe=on
mod_ChunkLoader=on
mod_RedPowerCore=on
mod_MineFactory=on
mod_Snowmen=on
mod_IC2=on
mod_ModMenu=on
mod_BuildCraftCore=on
mod_AccessoryDrop=on
mod_WorldSettings=on
mod_EE=on
mod_mocreatures=on
mod_ElementalCreepers=on
mod_PaxelAetherCompt=on
mod_PortalGun=on
mod_ItemNBT=on
mod_WirelessSniffer=on
mod_AetherLockedBlockItems=on
mod_PowerConfigurator=on
mod_VastlyBetterThanMango=on
BetaTweaksMP=on
mod_JetpackFallDamageFix=on
mod_BuildCraftTransport=on
mod_WirelessRedstone=on
grassFix=true
mod_Ravine=on
mod_RedPowerWiring=on
mod_ItemDescriptions=on
mod_FCBetterThanWolves=on
mod_Zeppelin=on
mod_Aether=on
mod_DisableAetherBed=on
mod_MineFactoryIC2RefinedIron=on
mod_BetaTweaks=on
mod_BurnIC2=on
mod_AetherAxeToolsForge=on
mod_BuildCraftEnergy=on
mod_GLSL=on
mod_Millenaire=on
mod_EnergyLink=on
mod_BuildCraftFactory=on
mod_RadioBlock=on
mod_Pistons=on
mod_WirelessClocker=on
mod_SliderWeaponConfiguration=on
mod_WeaponMod=on
mod_MineShaft=on
mod_TwilightForest=on
mod_JBDynamo=on
mod_HowManyItems=on
loggingLevel=FINER
mod_sucker=on
mod_NetherStorage=on
mod_airship=on
mod_AdvancedMachines=on
mod_Armor=on
mod_EEAxeToolsForge=on
mod_ShiftableArmor=on
mod_Todo=on
mod_MiningLaserConfiguration=on
mod_Arrows=on
mod_RedPowerArray=on
mod_RedPowerLogic=on
mod_WorldEditItems=on
mod_PhotoModeBetaTweakZoom=on
mod_WirelessRemote=on
mod_MillenaireIndestructibleBuildingBlock=on
mod_TwilightForestBreakingSpeedFix=on
mod_R2BTWExtras=on
mod_DeeperOceans=on
mod_CreditsMenu=on
mod_Pfaeff=on
mod_Allocator=on
mod_MangoTweaks=on
mod_BuildCraftBuilders=on
mod_IDResolver=on
mod_Tooltip=on
mod_MoreCreepsAndWeirdos=on
mod_RedPowerLighting=on
mod_RedstonePipe=on
mod_WorldGeneratorOverrides=on
mod_CraftingTableII=on
mod_Fan=on
mod_TF2Teleporter=on
mod_MinecraftStore=on
mod_WirelessTriangulator=on
