// Config file for customising the animated logo.
// NOTE: The logo will automatically update when this file is saved but you may need to reset it (ESC) for all the blocks to show.
// 
// To customise the logo, first create a key below with block IDs and characters to match the ascii.
// This X=1 means that any block denoted with an X in the image section will be a stone block in the main menu.
X=35:15
*=82
R=35:10
O=35:1
Y=35:4
G=35:5
C=35:3
B=35:11
W=80
P=35:6
T=12
M=1
// You can use blocks with metadata with ':' or '-' so for example: Y=35-6 would attribute Y with pink wool.
// 
#
// Below this # symbol is where the logo art is recorded.
// If you want to use a blank line you must put at least 1 space in.
// If you use a symbol below that has not been assigned a block, it will give the torch block (which does not look good).
// 
        RRRRRRRR        RRRRRRRR        RRRRRRRR        RRRRRRRR        RRRRRRRR        RRRRRRRR        RRRRRRRR    
RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRXWWWWWWWWWWWWWWWWWX
RRRRRRRROOOOOOOORRRRRRRROOOOOOOORRMMMMMOOMMMMMMMMMMMMMRMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMOOOORRRRRRXWWWPPPPPPPPPPPPPWWWX
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMTTTMOOMTTTMTTTMTTTMRMTTTMTTTTTTTMTTTTTTTMTTTTTTTMTTTTTTTMTTTTTTTMTTTTTTTMOOOOOOOOOOXWWPPPPPPPRPPXXPPPWWX XXX
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOMTTTMMMMTTTMTTTMTTTMMMTTTMTTTTTTTMTTTTTTTMTTTTTTTMTTTTTTTMTTTTTTTMTTTTTTTMOOOOOOOOOOXWPPRPPPPPPPX**XRPPWXX**X
OOOOOOOOYYYYYYYYOOOOOOOOYYYYYYYYOOMTTTTMMTTTTMTTTMTTTTMMTTTMTTTMMMMMTTTMMMMMTTTTTTTMTTMTMTTMTTTMMMMMMMTTTMMMYYYYOOOOOOXWPPPPPPPPPPX***PPPWX***X
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYMTTTTMMTTTTMTTTMTTTTMMTTTMTTTMMMMMTTTMYYYMTTTMTTTMTTTMTTTMTTTMMMMYYMTTTMYYYYYYYYXYYYXWPPPPPPPRPPX***XXXX****X
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYMTTTTTTTTTTMTTTMTTTTTTTTTMTTTTTTMMTTTMYYYMTTTMTTTMTTMMMTTMTTTTTTMYYMTTTMYYYYYYYX*XYYXWPPPPPPPPPPX***********X
YYYYYYYYGGGGGGGGYYYYYYYYGGGGGGGGYYMTTTTTTTTTTMTTTMTTTTTTTTTMTTTTTTMMTTTMGGGMTTTTTMMMTTMTMTTMTTTTTTMYYMTTTMGGGGGGYX*XXXXWPPPPPPPPPX*************X
GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGMTTTMTTMTTTMTTTMTTTTTTTTTMTTTMMMMMTTTMGGGMTTTTTTTMTTTTTTTMTTTMMMMGGMTTTMGGGGGGGG****XWPPPPPPPPRX***WX****WX**X
GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGMTTTMMMMTTTMTTTMTTTMMTTTTMTTTMMMMMTTTMGGGMTTTMTTTMTTTMTTTMTTTMGGGGGMTTTMGGGGGGGGXX**XWPRPPPPPPPX***XX**X*XX**X
GGGGGGGGCCCCCCCCGGGGGGGGCCCCCCCCGGMTTTMCCMTTTMTTTMTTTMMTTTTMTTTMMMMMTTTMMMMMTTTMTTTMTTTMTTTMTTTMGGGGGMTTTMCCCCCCGGGGXXXWPPPPPPPPPX*PP********PPX
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCMTTTMCCMTTTMTTTMTTTMMMTTTMTTTTTTTMTTTTTTTMTTTMTTTMTTTMTTTMTTTMCCCCCMTTTMCCCCCCCCCCCCXWWPPPPPRPPPX***XXXXXX**X
CCCCCCCCBBBBBBBBCCCCCCCCBBBBBBBBCCMTTTMBBMTTTMTTTMTTTMCMTTTMTTTTTTTMTTTTTTTMTTTMTTTMTTTMTTTMTTTMCCCCCMTTTMBBBBBBCWCCCXXWWWPPPPPPPPXX*********X
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBMMMMMBBMMMMMMMMMMMMMCMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMBBBBBMMMMMBBBBBBBBBWX*XXWWWWWWWWWWWXXXXXXXXXX
BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBX***XXXXXXXXXXXXXXXXXX*X
BBBBBBBB        BBBBBBBB        BBBBBBBB        BBBBBBBB        BBBBBBBB        BBBBBBBB        BBBBBBBB        WBBBX**X X**       X**XX***X
                                                                                                                    XXX  XXX       XXX  XXXX
                                                                                                                   W
                                                                                                                 W
// 
#
// Here are some basic settings to change the position of the logo. The light multiplier has a max value of 1.0
Scale=-30.0
OffsetX=-23.0
OffsetY=+1.5
AxisTilt=0.0
LightMultiplier=0.8
SplashTextEnabled=true
SplashTextOffsetX=-15.0
SplashTextOffsetY=-10.0
PanoramaFolder=/BetaTweaks/panorama